body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin:0;
}

main{
  width:70%;
  margin:0 auto;
}

p, li{
  margin: 0.425rem;
  color: rgb(100, 100, 100);
}

img + p{
  font-size: 0.8rem;
  color:rgba(100, 100, 100, 0.5);
  margin-left:0;
}

a:link{
  color:orange;
}
a:visited{
  color:orange;
}
a:hover{
  color:rgb(255, 216, 61);
}

h1{
    font-size:2.5rem;
    margin-bottom:1rem;
}
h1 + div{
  font-size: 0.8rem;
  border-style: none;
  padding-left: 0rem
}

h2{
    font-size:1.5rem;
    margin-top:0;
}

ul, ol{
  padding-left:1rem;
}

li{
  margin:0.5rem;
}

div:only-child{
  font-size:0.95rem;
  padding:0.6rem;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;
  border-style: none;
  border-left-style: solid;
  border-left-color: orange;
  border-left-width: 0.35rem;
  background-color: rgba(255, 216, 61, 0.14);
}

section:nth-child(1){
  margin-bottom: 2.5rem;
}

section:nth-child(3){
  display: grid;
  grid-template-columns:5fr 3fr;
  grid-gap: 2rem;
}

section:last-child{
  margin-top: 2rem;
}

img{
  max-width:100%;
}

ol{
  display:grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-gap: 1rem;
}

section:last-child{
  padding: 1rem;
  border-top: 0.15rem solid orange;
}

ol > li{
  margin-left: 1rem;
}

footer{
  height: 5rem;
  background: rgb(100, 100, 100);
  margin-top: 3rem;
  text-align:center;
}

footer > p{
  color:white;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  line-height: 5rem;
  margin:0;
}

header{
  height: 10rem;
  background: orange;
  margin-bottom: 3rem;
  text-align:center;
}
header > p{
  color:white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  line-height: 10rem;
  margin:0;
}
